.input-group {
  @apply flex rounded-xl border;
  position: relative;
}

.input_text {
  @apply w-full rounded-xl border bg-slate-50 py-4 px-6;
  @apply border-none focus:outline-none;
}

.button {
  @apply w-full rounded-md bg-gradient-to-r from-sky-300 to-indigo-300;
  @apply py-3 text-lg text-gray-50;
}

.button:hover {
  @apply border-blue-200 bg-gradient-to-r from-gray-50 to-gray-200;
  @apply text-gray-700;
}

.button_custom {
  @apply flex w-full justify-center gap-2 border py-3 hover:bg-gray-300;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #e9f0f9;
}

.input_text:not([type="email"]) ~ span:hover * {
  color: #e9f0f9;
  cursor: pointer;
}
