.imgStyle {
  @apply bg-gradient-to-t from-sky-300 to-sky-900;
  position: relative;
  overflow: hidden;
}

.cartoon {
  background: url("/assets/fitlogo.png") no-repeat;
  position: absolue;
  bottom: 0%;
  top: 0%;
  right: 0%;
  left: 0%;
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: 65% 100px;
  z-index: 1;
}

.cloud_one {
  background: url("/assets/cloud.png") no-repeat;
  position: absolue;
  top: 65%;
  left: 10%;
  width: 180px;
  height: 100px;
  background-size: contain;
  z-index: 2;
  transform: translateX(290%);
  animation: cloud_one 25.5s ease-in 5.9s infinite;
}

.cloud_two {
  background: url("/assets/cloud.png") no-repeat;
  position: absolue;
  top: 49%;
  left: 50%;
  width: 200px;
  height: 100px;
  background-size: contain;
  z-index: 0;
  animation: cloud_two 18.5s ease-in 0.9s infinite;
}

/*css keyframes*/
@keyframes cloud_one {
  0% {
    transform: translateX(290%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes cloud_two {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-250%);
  }
}
